@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow, .text-shadow * {
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 25%);
}

.project-card:not(:last-child) > div {
  border-bottom: 1px solid white;
}

@media (min-width: 768px) {
  .project-card:nth-child(even) > img {
    order: 2;
  }
  
  .project-card:not(:last-child) > div {
    border-bottom: unset;
  }
  
  .project-card:nth-child(even) > div {
    order: 1;
  }
}
